#include <windows.h>

IDI_ICON1 ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription", "vMKEiA"
            VALUE "ProductName", "Wirtualna tablica LED"
            VALUE "CompanyName", "Grupa ZupaNET"
        END
    END
END